.ant-layout {
    min-height: 100vh;
}

.ant-layout-header {
    background-color: #fff;
}

.ant-layout-content {
    margin: 16px 0;
    padding: 0 50px;
}

.ant-space.ant-space-vertical {
    width: 100%;
}
